body{
    background-color: black;
    color: #aaaaaa;
}


table {
    overflow: hidden;
}

td, th {
    padding: 5px;
    position: relative;
    outline: 0;
    padding-left: 2px;
}

/* Separating 8 bytes by a little to make it easier to view/count */
th:nth-child(9){
    padding-right: 12px;
}


/* Horisontal highlighting (rows)*/
body:not(.nohover) tbody tr:hover {
    background-color: white;
}

td:hover::after, thead th:not(:empty):hover::after, td:focus::after, thead th:not(:empty):focus::after {
    content: '';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
}

td:hover::after, th:hover::after {
    background-color: white;
}

td:focus::after, th:focus::after {
    background-color: white;
}

/* tooltip (the box) and the tooltiptext (the text) is styled this way. */

.tooltip .tooltiptext {
    visibility: hidden;
    width: fit-content;
    height: fit-content;
    left: 50%;
    background-color: black;
    color: #5fd032;
    border: 2px solid #5fd032;
    border-radius: 6px;
    padding: 5px 5px;
    position: fixed;
    padding: 2px;
    bottom: 0;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    text-align: left;
    z-index: 1;

}

/* Hover over tooltip to show tooltiptext */

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Highlight hovered byte */

.tooltip:hover{
    color: white;
    background-color: black;
    height: auto;
}

/* The code box layout */

.codeBox {
    border: 2px solid rgb(209, 208, 207);
    margin: auto;
    width: 500px;
    padding: 4px;
    margin-bottom: 20px;

}

.tooltip.section{
    background-color: rgba(130, 250, 250, 0.4);
    color: green;
}


.bytehighlight{
    background-color: rgb(95, 208, 50);
    color: black;
}

.highlight {
  background-color: rgb(95, 208, 50);
  color: black;
}
